.menu {
    /* Ajusta el tamaño y posición de la imagen de fondo */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo anegado con opacidad */
    z-index: 0; /* Asegura que el pseudo-elemento esté por encima del contenido */
}

.list-group-flush .list-group-item {
    background: transparent;
    color: rgb(255, 255, 255);
}

.round{
    padding-top: 80%;
}

.logo-image {
    z-index: 2; /* Coloca la imagen encima de la capa negra */
}

  